/* 商品の概要 */

.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
  
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}


div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

div.contents.row .success h3 {
  margin: 10px auto;
}




.item_red_btn {
  text-align: center;
  background-color: #000;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  float: right;
  cursor: pointer;

}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}


/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */


.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}










.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}