<main class="main">
      <div class="side_bar_content">
       <aside>
        <h2>初めての方</h2>
          <div class="sid_bar_section">
            <ul>
             <li><a href="">SmartGluttonとは</a></li>
             <li><a href="">フードロスについて</a></li>
             <li><a href="">商品検索</a></li>
             <li><a href="">リスト</a></li>
            </ul>
          </div>
          <h2>商品を買う</h2>
          <div class="sid_bar_section">
            <ul>
             <li><a href="">商品検索</a></li>
             <li><a href="">商品一覧</a></li>
             <li><a href="">買い物かご</a></li>
            </ul>
          </div>
          <h2>商品を売る</h2>
          <div class="sid_bar_section">
            <ul>
             <li><a href="">売りたい方</a></li>
             <li><a href="">商品出品</a></li>
            </ul>
          </div>
        </aside>
      </div>
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
       <div class="greeting"> 
          こんにちは、
         <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link%>
       </div> 
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: "item", collection: @items %>
    </div>
  </div>

</main>
