<main class="main">
      <div class="side_bar_content">
       <aside>
        <h2>サイドバー１</h2>
          <div class="sid_bar_section">
            <ul>
             <li><a href="">リスト</a></li>
             <li><a href="">リスト</a></li>
             <li><a href="">リスト</a></li>
            </ul>
          </div>
        </aside>
      </div>
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
       <div class="greeting"> 
          こんにちは、
         <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link%>
       </div> 
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートで商品一覧を表示する %>
      <%= render partial: "item", collection: @items %>
    </div>
  </div>

</main>
