<!doctype html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>SmartGlutton</title>
    <link rel="stylesheet" href="css/items.scss">
</head>

<body>
    <header class="grovalNavigation">
    　<h1>
       <a href="/">SmartGlutton</a>
      </h1>
      <nav class="navi-menu">
       <ul>
        <li><a href='#'>HOME</a></li>
        <li><a href='#'>LOGIN</a></li>
        <li><a href='#'>SIGN UP</a></li>
        <li><a href='#'>CART</a></li>
       </ul>
      </nav>　
    </header>
    <main>
        <div class="localNavigation">
            <p>カテゴリ</p>
        </div>
        <div class="content">
            <p>SmartGluttonはフードロス削減を目的とした、フードシェアサービスです。</p>
            <p>コンテンツ</p>
        </div>
    </main>
    <footer class="footer">
        <p>フッター</p>
    </footer>
</body>