// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}



// Item/Index



body{
  // display: flex;
  // flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}
.grovalNavigation{
  padding: 30px 4% 10px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
h1 {
  margin: 0; padding: 0;
  font-size: 20px; 
}
h2{
  text-align: left;
  font-size: 10px; 
}

a{
  text-decoration: none;
  color: #4b4b4b;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li{
  margin: 0 0 0 15px;
  font-size: 14px;
}
nav{
  margin: 0 0 0 auto;
}

main{
  display: flex;
  min-height: 100vh;
  margin-top: 10px;
}

.localNavigation{
  text-align: center;
  background-color: #888;
  color: #fff;
  width: 250px;
}

.content{
  flex: 2;
  text-align: center;
  background-color: #eee;
}

.footer{
  height: 70px;
  text-align: center;
  background-color: #eee;
}