/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  overflow: auto;

}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  /* background-color: #f1f8fe; */
  margin-bottom: 45px;
  padding: 20px 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ivory;

  }

.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
  font-size: 30px;
}

.nav__btn{
  display: inline-block;
  padding: 1.2em 2.5em;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  user-select: none;
  border: 1px #000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #000;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.nav__right{
  display: flex;
  /* justify-content: space-around; 左右中央揃え */
  align-items: center; 
  gap: 10px;
}

.cart__logo{
  width: 89px;
  height: auto;
  text-align: justify;
  padding: 0px 0px 0px 30px;
  
}

.wrapper {
  display: flex;
}

.side_bar_container
{
  width:250px;
  min-height:500px;
  height:auto;
  background-color:#009b9f;
  float:left;
  margin-top:10px;
  }

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.shipping-address-form {
  margin-top: 15px;
}



/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
  border: 1px solid;
  border-radius: 8px;
  /* display: block; */
  object-fit: cover;
  height: 350px;
  width: 250%;

  
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */


/* 商品購入ボタン */
.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 80%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 25px;
  cursor: pointer;
}
/* 商品購入ボタン */

/* フッター */

.footer {
  background-color: #999999;
  padding: 10px 0;
  background: url(italian-cuisine-2378729_1920.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  bottom: 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.footer__right {
  text-align: right;
  font-size: 10px;
}

.logo2 {
  width: 75px;
}

#submenu {
  width: 160px;
  order: 1;
}

.subcontents {
  margin: 0 0 10px 0;
  border: solid 1px lightblue;
}

.subcontents h3 {
  margin: 0;
  padding: 6px;
  background-color: lightblue;
}

.subcontents-lists{
  margin: 12px;
  padding: 0;
  list-style: none;
}

.ad2 {
  margin-bottom: 10px;
}

#topic {
  width: 250px;
  order: 3;
}

.ad3 {
  margin-bottom: 10px;
}




/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}